/** localyy include fonts **/

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype'); 
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Italic.ttf') format('truetype'); 
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype'); 
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-BoldItalic.ttf') format('truetype'); 
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Signika';
  src: url('../fonts/Signika-Regular.ttf') format('truetype'); 
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('../fonts/Signika-Bold.ttf') format('truetype'); 
  font-weight: bold;
}

@font-face {
  font-family: 'Signika';
  src: url('../fonts/Roboto-Light.ttf') format('truetype'); 
  font-weight: 300;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype'); 
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf') format('truetype'); 
  font-weight: bold;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.ttf') format('truetype'); 
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype'); 
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype'); 
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf') format('truetype'); 
  font-weight: 300;
}

@font-face {
  font-family: 'Arvo';
  src: url('../fonts/Arvo-Regular.ttf') format('truetype'); 
}


@font-face {
  font-family: 'Arvo';
  src: url('../fonts/Arvo-Bold.ttf') format('truetype'); 
  font-weight: bold;
}

@font-face {
  font-family: 'Quattrocento';
  src: url('../fonts/Quattrocento-Regular.ttf') format('truetype'); 
  font-style: normal;
}

@font-face {
  font-family: 'Quattrocento'';
  src: url('../fonts/Quattrocento-Bold.ttf') format('truetype'); 
  font-weight: bold;
}