html, body {
    margin: 0;
    padding-left: 0;
    height: 100%;
    width: 100%;
    background: url('../images/pattern.png');
    background-color: white;
}

html {
    overflow-x: hidden;
}

body {
    min-width: 320px;
    min-height: 380px;
}

p, li , a, input, h1, h2, h3, h4, h5, h6, span{
    color: #313131;
    font-family: 'Open Sans', sans-serif;
}

p.notice {
    opacity: 0.0;
}

a {
    text-decoration: none;
    transition: color 0.5s;
}

a.close-it {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
}

a.close-selected-category {
    color: white;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 5px;
}

div.music, div.art, div.photography, div.writer {
    line-height: 0;
}

ul.inline  > li{
    display: inline;
}

ul.title {
    position: absolute;
    left: 10px;
}

ul.title li {
    font-size: 25px;
}

.right {
    text-align: right;
}

.navigation-background {
     opacity: 0.1;
     background-color: black;
}

.navigation, .navigation-background {
    width: 100%;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
}

.navigation {
    font-size: 12px;
    font-weight: 600;
}

.navigation ul  {
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    display: inline-block;
}

.navigation ul > li {
    position: relative;
    top: 6px;
    padding-right: 10px;
}

.logo {
  position: relative;
  top: 50px;
  width: 100%;
  height: 150px;
  background: url('../images/logo.png') no-repeat center center;
}

.menu {
    top: 25px;
    position: relative;
    width: 100%;
    height: calc(100% - 55px);
}

.menu-items{
    position: relative;
    margin-left: calc(50% - 450px);
    display: block;
    padding: 0;
    top: 15%;
}

.menu-items li:not(:last-child) {
    padding-right: 100px;
}

.box {
    box-shadow: 5px 5px 10px 1px darkgray;
    line-height: 0;
    display: inline-block;
    width: 150px;
    height: 150px;
    transition: background-color 0.5s;
}

.box:hover {
    background-color: #7F0E00;
}

.music {
    background: url('../images/icon_music.png') no-repeat center center,
                #FF1C00;
    background-size: 150px auto;
}

.art {
    background: url('../images/icon_art.png') no-repeat center center,
                #FF1C00;
    background-size: 150px auto;
}

.photography {
    background: url('../images/icon_videography.png') no-repeat center center,
                #FF1C00;
    background-size: 150px auto;
}

.writer {
    background: url('../images/icon_writer.png') no-repeat center center,
                #FF1C00;
    background-size: 150px auto;
}

ul.footer-right li {
    padding-right: 20px;
    color: white;
}

ul.footer li > a {
    color: white;
}

ul.footer li {
    display: inline;
    padding-left: 0;
}

ul.footer-left {
    left: calc(50% - 446px);
    bottom: 5px;
}

ul.footer-right {
    position: absolute;
    right: calc(-50% - 75px);
}

ul.footer {
    padding-top: 0;
    padding-left: 0;
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
    list-style-type: none;
    position: relative;
}

.footer-background {
    opacity: 0.1;
    background-color: #4C146D;
}

div.footer {
    font-size: 12px;
}

div.footer, .footer-background {
    padding-top: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.icon {
   width: 20px;
   height: auto;
}

.seperator {
  line-height: 0;
  font-size: 0;
  display: none;
}

/** register and login info **/

.login-register {
  padding-top: 50px;
  padding-left: 280px;
}

.login, .register {
  font-size: 14px;
  color: white;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;
  width: 150px;
  background-color: #000742;
  padding: 15px 0 15px 0;
  border: none;
}

.login-box, .register-box {
    background-color: white;
    position: fixed;
    display: none;
    opacity: 0;
    z-index: 1;
}

.register-box {
    left: calc(50% - 512px);
    width: 1024px;
    top: 10%;
}

.login-box {
    text-align: center;
    top: 30%;
    left: calc(50% - 240px);
    width: 480px;
}

.registration-info {
  float: left;
  padding-left: 10px;
  padding-right: 100px;
  width: calc(65% - 110px);
  position: relative;
}

.registration-info > h1 {
  margin-top: 20px;
}

.registration-form {
  padding-top: 20px;
  margin: 10px;
  float: left;
  width: calc(35% - 20px);
  height: calc(100% - 40px);
  position: relative;
}

.registration-errors{
  margin-top: 10px;
  float: left;
  width: calc(20%);
  position: relative;
}

.register-input, .login-input {
  border: 1px solid darkgray;
  padding: 10px;
  font-size: 16px;
  margin: 0 10px 20px auto;
  display: inline-block;
}

.register-input {
  width: 80%;
}

.login-input {
  margin-top: 10px;
  width: 40%;
}

span.error {
    font-size: 11px;
}

.register-submit {
  padding: 10px;
  display: block;
  width: 30%;
  border: none;
  margin: 0;
  background-color: #000742;
  color: white;
  font-weight: bold;
}

.login-submit {
  padding: 10px;
  display: block;
  width: calc(40% + 20px);
  border: none;
  margin-left: calc(30% - 15px);
  margin-bottom: 10px;
  background-color: #000742;
  color: white;
  font-weight: bold;
}

.good {
    background: url('../images/upvote.png') no-repeat;
    background-size: 30px 30px;
    background-position: right center;
}

.bad {
    background: url('../images/downvote.png') no-repeat;
    background-size: 30px 30px;
    background-position: right center;
}

.register-input:focus, .login-input:focus {
  outline: none;
}

.registration-info::after, .registration-form::after , .registration-errors::after{
  clear: both;
}

.darkfilter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    z-index: 1;
    display: none;
}

.login:hover, .register:hover {
  background-color: #000E8F;
}

.selected-category {
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #FF1C00;
}

@-ms-viewport{
  width: device-width;
}

/** Here is the responsive design part **/

@media all and (max-height: 460px) and (max-width: 1024px){

  .register-box {
    height: 100%;
    top: 0;
  }

}

@media all and (max-height: 460px) {

  .login-box {
    top: 15%;
  }
  
}

@media all and (max-width: 1024px) {

    .menu-items li:not(:last-child) {
        padding-right: 0
    }
    
    .login-register {
      padding-left: 130px;
    }
    
    .menu-items {
       margin-left: calc(50% - 300px);
    }


  .register-box {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 640px;    
    left: calc(50% - 320px);
  }   
    
  .registration-info {
    width: calc(100% - 110px);
  }

  .register-input {
    margin: 20px 0;  
  }
  
  .register-submit {
    margin-bottom: 10px;  
  }    
    
  .registration-form {
    width: calc(100% - 20px);
  }

}

@media all and (max-width: 640px) {
  
   .menu-items li:not(:last-child) {
        padding-right: 10px;
    }
    
    .box {
      margin-bottom: 10px;
    }

    .seperator {
       display: block;
    }

    .login, .register {
       margin-left: 10px;
    }    
    
    .login-register {
      padding-top: 0;
      position: relative;
      padding-left: 0;
      right: 10px;
    }
    
    .register-box {
      width: 90%;
      left: 5%;
    }
    
    .logo {
        top: 10px;
    }

    .menu-items {
        margin-left: calc(50% - 155px);
        top: 0;
    }
    
}

@media all and (max-width: 355px) {
  
   .menu-items li:not(:last-child) {
        padding-right: 0
    }
    
    .box {
      margin-bottom: 0
    }
    
    .login, .register {
       margin: 0
    }
    
    .menu-items {
        margin-left: calc(50% - 150px);
        bottom: 0;
    }
    
    .login-register {
      padding-top: 5px;
      position: relative;
      padding-left: 0;
      right: 0;
    }
    
}

@media all and (max-height: 610px) and (max-width: 640px){

    .box {
        width: 140px;
        height: 140px;
    }
    
    .login, .register {
       width: 140px;
    }   

    .menu-items {
        margin-left: calc(50% - 145px);
    }
}

@media all and (max-height: 610px) and (max-width: 355px){

    .menu-items {
        margin-left: calc(50% - 140px);
    }
}

@media all and (max-height: 570px) and (max-width: 640px){

    .logo {
        background-size: 300px auto;
        background-position: center center;
    }

}

@media all and (max-height: 525px) and (max-width: 640px){

    .box {
        width: 110px;
        height: 110px;
    }
    
    .music, .art, .photography, .writer {
        background-size: 100px auto;
    }
    
    .login, .register {
       width: 110px;
    }   
    
    .menu-items {
        margin-left: calc(50% - 115px);
    }
}

@media all and (max-height: 525px) and (max-width: 355px){

    .menu-items {
        margin-left: calc(50% - 110px);
    }
}

@media all and (max-width: 480px) {

    .login-box {
        width: 100%;
        left: 0;
    }
    .register-box {
       height: 75%;
       top: 10%;
    }   
}

@media all and (max-height: 800px) and (max-width: 1024px){

  .register-box {
    height: 100%;
    top: 0;
  }

}
